body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--body-background-color, #4a4d73);
  transition: background-color 0.5s;
  position: relative;
}

button {
  font: inherit;
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  min-width: 500px;
}

.result {
  margin-bottom: 10px;
  font-size: 7vw;
  text-align: center;
  color: #fff;
  font-family: Menlo, Monaco, monospace;
}

.button {
  color: #fff;
  width: 125px;
  height: 125px;
  position: absolute;
  bottom: 2vh;
}
